# Python Einführung

- Stichpunkte
- **fett** *kursiv*

In [2]:
# Das ist ein Kommentar
print ("Hello World")

Hello World

# Einfache Datentypen

In [5]:
# Variablen & Werte zuweisen
# String - Zeichenkette in ""
name = "Lovelace"

In [6]:
print (name)

Lovelace

In [8]:
# Intger - Ganzzahl ohne ""
age = 37
print (age)

37

In [10]:
# Float - Kommerzahlen
size = 1.7123
print (size)

1.7123

In [11]:
# Boolean - Bollscher Wert
knows_math = True
# true und false boolsche Werte, festgelegt
print (knows_math)
# mit Tab schon belegte Variablen vervollstänidgen lassen
likes_gardening = False
print (likes_gardening)

True
False

In [16]:
name
age
# der letzte Wert in einer Zelle wird zurückgegeben in Python nur mit print

37

In [20]:
print(name)
print(age)

Lovelace
37

In [18]:
year = "2021"
# rot weil?

In [19]:
# typen anzeigen lassen
# in anderen Sprachen als Python muss man festlegen welchen Typ eine Variable hat, bei Python ist das dynamische Typisierung
type(year)

str

# Operatoren

In [21]:
# Addtionen
5 + 5

10

In [22]:
# Multiplizieren
age * 100

3700

In [25]:
# Strings verketten / concatenate
name + name

'LovelaceLovelace'

In [24]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [26]:
# Addition von verschiedenen Datentypen geht nicht
name + 10

TypeError: can only concatenate str (not "int") to str

In [28]:
# wenn ich Zahl als String angebe wird wieder concatenated
name + "10"

'Lovelace10'

In [30]:
# Dividieren
size / age

0.04627837837837838

In [31]:
number_of_articles = "50"

In [32]:
# was nicht funktioniert
number_of_articles / 10

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [34]:
# umwandeln von wert in string in wert integer, funktioniert nur wenn String eine Zal ist
# sonst variable in der Zelle drüber ändern und Zelle ausführen
int (number_of_articles_) 7 10

SyntaxError: invalid syntax (1654333612.py, line 3)

# Funktionen und Methoden

In [35]:
# Länge z.B. von Variablen
len(name)

8

In [40]:
# Methoden funktionieren auch so, um z.B. Variablen zu verändern, aber nicht deren Wert
name.upper()

'LOVELACE'

In [41]:
name

'Lovelace'

In [42]:
name.count("e")

2

In [43]:
dna = "ACTGgGCAA"

In [44]:
dna.count ("G")

2

In [45]:
dna.upper().count("G")

3

In [46]:
"ACTGgGAA".upper().count("G")

3

In [47]:
# Methode mit 2 Argumenten
name.replace("lace"," is everywehre")

'Love is everywehre'

In [48]:
name

'Lovelace'

# Listen und Dictionaries

In [49]:
# Listen mit mehreren Elementen
names = ["Lovelace","Darwin","Curie","Hawking"]

In [51]:
# einezelne Werte aus Liste wieder geben in [] Position, in der Informatik oft Zählung Anfnag bei 0
names[0]

'Lovelace'

In [52]:
names[1]

'Darwin'

In [53]:
# letztes Element
names[-1]

'Hawking'

In [54]:
# mehrer Elemente von : bis
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [55]:
names[:2]

['Lovelace', 'Darwin']

In [56]:
# ertse Element inklusiv, letzes Element exclusiv ??
names[2:]

['Curie', 'Hawking']

# Dictionaries
Ich kann eine Sache nach schauen und bekomme eine Difinition bzw. in Python einen Wert
Schlüssel müssen gleicheindeutig sein (können nicht mehrfach verwendet werden --> überschrieben), Werte können unterschielich sein, mehrfach vorkommen z.B. Lovelace und Hawking hätten dasselbe Gbeurtsjahr

In [57]:
authors_and_birth_year = {"Lovelace": 1815, "Darwin": 1809, "Noether": 1882, "Hawking": 1942}
# Schlüssel/key: Wert des Autors, Wert: das Geburtsjahr

In [58]:
authors_and_birth_year["Lovelace"]

1815

In [59]:
authors_and_birth_year["LOVELACE"]

KeyError: 'LOVELACE'

In [60]:
authors_and_birth_year = {"Lovelace": 1815, "Darwin": 1809, "Noether": 1882, "Hawking": 1942}

In [61]:
# Key Darwin verweist auf eine Liste von Werten
authors_and_birth_year = {"Lovelace": 1815, "Darwin": [1809, 1810], "Noether": 1882, "Hawking": 1942}

In [62]:
authors_and_birth_year["Darwin"]

[1809, 1810]

In [63]:
authors_and_birth_year["Darwin"][1]

1810

In [7]:
authors_and_birth_year = {"Lovelace": 1815, 
                          "Darwin": [1809, 1810, {"London":1910, "Greenwich":1911}],
                          "Noether": 1882,
                          "Hawking": 1942}

In [74]:
authors_and_birth_year["Darwin"][2]["London"]

1910

In [8]:
authors_and_birth_year["Darwin"]

[1809, 1810, {'London': 1910, 'Greenwich': 1911}]

In [9]:
temp_list = authors_and_birth_year ["Darwin"]

In [11]:
temp_dict = temp_list [2]

In [13]:
temp_dict

{'London': 1910, 'Greenwich': 1911}

In [15]:
temp_dict ["London"]

1910

In [17]:
authors_and_birth_year ["Darwin"][2]["Greenwich"]

1911

# for-Schleifen

In [ ]:
names = ["Lovelace", "Darwin", "Noether", "Hawking"]

In [67]:
for person in names:
    print(person+"did awesome stuff!")

Lovelacedid awesome stuff!
Darwindid awesome stuff!
Curiedid awesome stuff!
Hawkingdid awesome stuff!

In [78]:
for person in names:
    print(person+"did awesome stuff!")
    print ("---------")

Lovelacedid awesome stuff!
---------
Darwindid awesome stuff!
---------
Curiedid awesome stuff!
---------
Hawkingdid awesome stuff!
---------

In [80]:
# 2. print aus der Schleife, muss eingerückt sein (Lesbarkeit), Einrücken in Python syntaktisches Element
for person in names:
    print(person+"did awesome stuff!")
print ("---------")

Lovelacedid awesome stuff!
Darwindid awesome stuff!
Curiedid awesome stuff!
Hawkingdid awesome stuff!
---------

In [81]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Bedingte Anweisungen (Conditionals)

In [82]:
20>10

True

In [83]:
20<10

False

In [84]:
temp = 20
if temp > 15:
    print ("It's warm.")

It's warm.

In [85]:
temp = 5
if temp > 15:
    print ("It's warm.") #nur wenn wahr ausgegeben

In [87]:
temp = 15
if temp >= 15: #größergleich, muss dann auch so angegeben werden
    print ("It's warm.")

It's warm.

In [88]:
    temp = 15
    if temp >= 15: #größergleich, muss dann auch so angegeben werden
        print ("It's warm.")
    else: 
        print("It's cold.")

It's warm.

In [89]:
temp = 9
if temp >= 15: #größergleich, muss dann auch so angegeben werden
    print ("It's warm.")
else: 
    print("It's cold.")

It's cold.

In [91]:
temp = 25
if temp >= 25:
    print ("It's hot.")
elif temp >=15:
    print ("It's warm.")
else:
    print ("It's cold.")
# die Abzweigung die zu erst kommt wird genutzt

It's hot.

In [92]:
temp = 24
if temp >= 25:
    print ("It's hot.")
elif temp >=15:
    print ("It's warm.")
else:
    print ("It's cold.")

It's warm.

In [93]:
temp = 14
if temp >= 25:
    print ("It's hot.")
elif temp >=15:
    print ("It's warm.")
else:
    print ("It's cold.")

It's cold.

In [ ]:
Erstelle eine Liste mit allen Namen aus eurer Gruppe. 
Baut eine For-Schleife, die auf die Liste zurückgreift 
und für jede Person das Lieblingsessen zurückgibt.
Beispiel "Rabeas Lieblingsessen ist Lasagne"
Dictionary und for Loops

In [5]:
names_1 = [ "Linda", "Laura", "Michael"]
names_DL_and_food={"Laura": "Lasagne", "Linda": "Pizza", "Michael": "Pasta"}

In [20]:
for person in names_1:
    print (person+ " isst gerne " +names_DL_and_food[person])

Linda isst gerne Pizza
Laura isst gerne Lasagne
Michael isst gerne Pasta

In [22]:
for person in names_DL_and_food:
    print (person+" isst gerne "+ names_DL_and_food[person])

Laura isst gerne Lasagne
Linda isst gerne Pizza
Michael isst gerne Pasta

In [24]:
for person in names_DL_and_food.keys():
    print (person)

Laura
Linda
Michael

In [25]:
names_DL_and_food.keys()

dict_keys(['Laura', 'Linda', 'Michael'])

In [27]:
names_DL_and_food.values()

dict_values(['Lasagne', 'Pizza', 'Pasta'])

In [31]:
for person in names_DL_and_food.keys():
    print (person + " mag gerne " + names_DL_and_food[person])
    #[person] verweist auf schlüssel dessen wert wieder gegeben werden
    # in for schleife person als Schlüssel für dictionary-schlüssel definiert

Laura mag gerne Lasagne
Linda mag gerne Pizza
Michael mag gerne Pasta